<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jentry</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Entry.icns</string>
			<key>CFBundleTypeName</key>
			<string>Journler Entry Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JENT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jrtfd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Entry.icns</string>
			<key>CFBundleTypeName</key>
			<string>Journler Rich Text Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JRTF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jobj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Entry.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Journler Entry</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JOBJ</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jblog</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Journler Blog</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JBLG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jcol</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Collection.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Journler Collection</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JCOL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jabuid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JADUID.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Journler Address Book UID</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JAID</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSRTFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8BN</string>
				<string>W6BN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSRTFDPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Apple SimpleText document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>ttro</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webarchive</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple Web archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Journler</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Journler Help Files</string>
	<key>CFBundleHelpBookName</key>
	<string>JournlerHelp</string>
	<key>CFBundleIconFile</key>
	<string>Journler</string>
	<key>CFBundleIdentifier</key>
	<string>com.phildow.journler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6b</string>
	<key>CFBundleSignature</key>
	<string>JRLR</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Journler URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>journler</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.6b3</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>JournlerApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>J</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Journler/New Entry with Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceSelection</string>
			<key>NSPortName</key>
			<string>Journler</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSTIFFPboardType</string>
				<string>NSPICTPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>NewEntry</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Journler/Append Selection to Entry</string>
			</dict>
			<key>NSMessage</key>
			<string>appendSelection</string>
			<key>NSPortName</key>
			<string>Journler</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSTIFFPboardType</string>
				<string>NSPICTPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>AppendToEntry</string>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>journler.sdef</string>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.journler.com/appcast/journler26beta.xml</string>
	<key>SupportedWeblogEditorsBundleIdentifiers</key>
	<dict>
		<key>com.automagicsoftware.BlogThing</key>
		<string>BlogThing</string>
		<key>com.ranchero.MarsEdit</key>
		<string>MarsEdit</string>
		<key>com.red-sweater.marsedit</key>
		<string>MarsEdit</string>
		<key>com.scifihifi.Cocoalicious</key>
		<string>Cocoalicious</string>
		<key>edu.ucsd.cs.mmccrack.blapp</key>
		<string>Blapp</string>
		<key>kungfoo.tv.ecto</key>
		<string>ecto</string>
		<key>net.codesorcery.Pukka</key>
		<string>Pukka</string>
		<key>org.speirs.xjournal</key>
		<string>Xjournal</string>
		<key>tv.kung-foo.ecto</key>
		<string>ecto</string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler Entry Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.jentry</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JENT</string>
				<key>public.filename-extension</key>
				<array>
					<string>jentry</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler Object</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.jobj</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JOBJ</string>
				<key>public.filename-extension</key>
				<array>
					<string>jobj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler Blog</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.blog</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JBLG</string>
				<key>public.filename-extension</key>
				<array>
					<string>jblog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler Address Book UID</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.jaduid</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JAID</string>
				<key>public.filename-extension</key>
				<array>
					<string>jaduid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler Collection</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.collection</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JCOL</string>
				<key>public.filename-extension</key>
				<array>
					<string>jcol</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.rtfd</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Journler RTFD</string>
			<key>UTTypeIdentifier</key>
			<string>com.phildow.journler.rtfd</string>
			<key>UTTypeReferenceURL</key>
			<string>journler.phildow.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JRTF</string>
				<key>public.filename-extension</key>
				<array>
					<string>journler-rtfd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
